<div id="dialog">
  <h2>Settings</h2>
  <%= nested_form_for @current_user, :remote => true,
      :url => update_user_path, :html => { :method => 'put'} do |f| %>
    
    <div class="shrinkable">
      <fieldset>
        <legend>My profile</legend>
        <%= gravatar_image @current_user.email, 50 %>
        <p class="user_info">
          <span class="real_name"><%= @current_user.real_name %></span>
          <span class="email">(<%= @current_user.email %>)</span>
          <br>&raquo; <%= link_to 'Change image on Gravatar', 'https://www.gravatar.com/emails' %>
          <br>&raquo; <%= link_to 'Change display name on Profiles', PROFILES_URL + @current_user.username %>
        </p>
      </fieldset>
        
      <%= f.fields_for :preferences do |p| %>
        <fieldset>
          <legend>Display options</legend>
          <div class="form_element aligned_field">
            <span class="label">Color scheme:</span>
            <% AVAILABLE_THEMES.each do |theme| %>
              <%= p.radio_button :theme, theme, :checked => @current_user.theme == theme,
                :class => 'change_theme', :data => { :path => asset_path(theme_stylesheet(theme)) } %>
              <%= p.label :theme, theme.to_s.capitalize, :value => theme %>
            <% end %>
          </div>
          <div class="form_element aligned_field">
            <span class="label">Newsgroup view:</span>
            <%= p.radio_button :thread_mode, 'normal', :checked => @current_user.thread_mode == :normal %>
            <%= p.label :thread_mode, 'Threaded', :value => 'normal' %>
            <%= p.radio_button :thread_mode, 'flat', :checked => @current_user.thread_mode == :flat %>
            <%= p.label :thread_mode, 'Flat', :value => 'flat' %>
            <%= p.radio_button :thread_mode, 'hybrid', :checked => @current_user.thread_mode == :hybrid %>
            <%= p.label :thread_mode, 'Hybrid', :value => 'hybrid' %>
            <a href="#" class="smallbutton explain_button toggle" title="What's this?" data-selector="#hybrid_view_explain">?</a>
            <span id="hybrid_view_explain" class="explain">flattens replies, but keeps them grouped under the first post</span>
          </div>
          <div class="form_element aligned_field">
            <%= p.label :time_zone, 'Time zone preference:' %>
            <%= p.time_zone_select :time_zone,
              ActiveSupport::TimeZone.us_zones, :default => @current_user.time_zone %>
          </div>
        </fieldset>
      <% end %>
        
      <fieldset>
        <legend>Newsgroup settings</legend>
        <table id="user_subscriptions">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Mark unread</th>
              <th>Email notification</th>
              <th>Include in digest</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody id="subscription_rows">
            <%= f.fields_for :default_subscription do |sub| %>
              <tr class="fields">
                <td>(default settings)</td>
                <td><%= sub.select :unread_level, options_for_select(PERSONAL_CODES_DESCRIPTIONS, sub.object.unread_level) %></td>
                <td><%= sub.select :email_level, options_for_select(PERSONAL_CODES_DESCRIPTIONS, sub.object.email_level) %></td>
                <td><%= sub.select :digest_type, options_for_select(DIGEST_TYPES_DESCRIPTIONS, sub.object.digest_type) %></td>
                <td>&nbsp;</td>
              </tr>
            <% end %>
            <%= f.fields_for :subscriptions, :wrapper => false do |sub| %>
              <tr class="fields">
                <td><%= sub.select :newsgroup_name, options_for_select(@newsgroups.map{ |n| [n.name, n.name] }, sub.object.newsgroup_name), :prompt => '' %></td>
                <td><%= sub.select :unread_level, options_for_select(PERSONAL_CODES_DESCRIPTIONS, sub.object.unread_level), :include_blank => '(use default)' %></td>
                <td><%= sub.select :email_level, options_for_select(PERSONAL_CODES_DESCRIPTIONS, sub.object.email_level), :include_blank => '(use default)' %></td>
                <td><%= sub.select :digest_type, options_for_select(DIGEST_TYPES_DESCRIPTIONS, sub.object.digest_type), :include_blank => '(use default)' %></td>
                <td><%= sub.link_to_remove '&times;'.html_safe, :class => 'smallbutton' %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <%= f.link_to_add '+ Add newsgroup', :subscriptions, :class => 'smallbutton', 'data-target' => '#subscription_rows' %>
              </td>
            </tr>
          </tfoot>
        </table>
      </fieldset>
      
      <fieldset>
        <legend>WebNews API</legend>
        <div id="api_settings">
          <%= render 'api_settings' %>
        </div>
      </fieldset>
    </div>
    
    <div class="buttons">
      <%= f.submit 'Save', :class => 'button green' %>
      <a href="#" class="button red dialog_cancel change_theme"
        data-path="<%= asset_path(current_user_stylesheet) %>">Cancel</a>
    </div>
  <% end %>
  
  <div class="loading"></div>
  <div class="errors"></div>
</div>
