<div id="dialog">
  <h2>Settings</h2>
  <%= form_for @current_user,
      :url => update_user_path, :html => { :method => 'put'}, :remote => true do |f| %>
    
    <%= f.fields_for :preferences do |p| %>
      <fieldset>
        <legend>Newsgroup view</legend>
        <div class="form_element">
          <%= p.radio_button :thread_mode, 'normal', :checked => @current_user.thread_mode == :normal %>
          <%= p.label :thread_mode, 'Threaded', :value => 'normal' %>
          <%= p.radio_button :thread_mode, 'flat', :checked => @current_user.thread_mode == :flat %>
          <%= p.label :thread_mode, 'Flat', :value => 'flat' %>
          <%= p.radio_button :thread_mode, 'hybrid', :checked => @current_user.thread_mode == :hybrid %>
          <%= p.label :thread_mode, 'Hybrid', :value => 'hybrid' %>
          <p class="explain">Hybrid view flattens replies like Flat, but keeps them grouped under the original post like Threaded</p>
      </fieldset>
      
      <fieldset>
        <legend>Show unread posts</legend>
        <div class="user_check_block">
          <%= p.check_box :unread_in_test, :checked => @current_user.unread_in_test? %>
          <%= p.label :unread_in_test, 'in csh.test' %><br>
          <%= p.check_box :unread_in_control, :checked => @current_user.unread_in_control? %>
          <%= p.label :unread_in_control, 'in control groups (e.g. control.cancel)' %><br>
          <%= p.check_box :unread_in_lists, :checked => @current_user.unread_in_lists? %>
          <%= p.label :unread_in_lists, 'in mailing list groups (e.g. csh.lists.alumni)' %>
        </div>
        <div class="form_element">
          <div class="user_radio_block">
            <%= p.radio_button :unread_level, 0, :checked => @current_user.unread_level == 0 %>
            <%= p.label :unread_level, 'Always', :value => 0 %><br>
            <%= p.radio_button :unread_level, 1, :checked => @current_user.unread_level == 1 %>
            <%= p.label :unread_level, 'Only in threads I\'ve posted in', :value => 1 %><br>
            <%= p.radio_button :unread_level, 2, :checked => @current_user.unread_level == 2 %>
            <%= p.label :unread_level, 'Only direct replies to my posts', :value => 2 %><br>
            <%= p.radio_button :unread_level, 3, :checked => @current_user.unread_level == 3 %>
            <%= p.label :unread_level, 'Never', :value => 3 %>
          </div>
        </div>
      </fieldset>
      
      <fieldset>
        <legend>WebNews API</legend>
        <div id="api_settings">
          <%= render 'api_settings' %>
        </div>
      </fieldset>
      
      <div class="form_element">
        <%= p.label :time_zone, 'Display all times in this time zone:' %>
        <%= p.time_zone_select :time_zone,
          ActiveSupport::TimeZone.us_zones, :default => @current_user.time_zone %>
      </div>
    <% end %>
    
    <p>Your &quot;real name&quot; is taken from the Common Name (CN) field in the CSH LDAP database. You can change this field using <a href="<%= PROFILES_URL + @current_user.username %>">Member Profiles</a>. This may also change your displayed &quot;real name&quot; on other CSH services.</p>
    
    <div class="buttons">
      <%= f.submit 'Save', :class => 'button green' %>
      <a href="#" class="button red dialog_cancel">Cancel</a>
    </div>
  <% end %>
  
  <div class="loading"></div>
  <div class="errors"></div>
</div>
