<div id="dialog">
  <h2>Settings</h2>
  <%= form_for @current_user,
      :url => update_user_path, :html => { :method => 'put'}, :remote => true do |f| %>
    
    <%= f.fields_for :preferences do |p| %>
      <fieldset>
        <legend>My profile</legend>
        <%= gravatar_image @current_user.email, 50 %>
        <p class="user_info">
          <span class="real_name"><%= @current_user.real_name %></span>
          <span class="email">(<%= @current_user.email %>)</span>
          <br>&raquo; <%= link_to 'Change image on Gravatar', 'https://www.gravatar.com/emails' %>
          <br>&raquo; <%= link_to 'Change display name on Profiles', PROFILES_URL + @current_user.username %>
        </p>
      </fieldset>
      
      <fieldset>
        <legend>Display options</legend>
        <div class="form_element aligned_field">
          <span class="label">Color scheme:</span>
          <% AVAILABLE_THEMES.each do |theme| %>
            <%= p.radio_button :theme, theme, :checked => @current_user.theme == theme,
              :class => 'change_theme', :data => { :path => asset_path(theme_stylesheet(theme)) } %>
            <%= p.label :theme, theme.to_s.capitalize, :value => theme %>
          <% end %>
        </div>
        <div class="form_element aligned_field">
          <span class="label">Newsgroup view:</span>
          <%= p.radio_button :thread_mode, 'normal', :checked => @current_user.thread_mode == :normal %>
          <%= p.label :thread_mode, 'Threaded', :value => 'normal' %>
          <%= p.radio_button :thread_mode, 'flat', :checked => @current_user.thread_mode == :flat %>
          <%= p.label :thread_mode, 'Flat', :value => 'flat' %>
          <%= p.radio_button :thread_mode, 'hybrid', :checked => @current_user.thread_mode == :hybrid %>
          <%= p.label :thread_mode, 'Hybrid', :value => 'hybrid' %>
          <a href="#" class="smallbutton explain_button toggle" title="What's this?" data-selector="#hybrid_view_explain">?</a>
          <span id="hybrid_view_explain" class="explain">flattens replies, but keeps them grouped under the first post</span>
        </div>
        <div class="form_element aligned_field">
          <%= p.label :time_zone, 'Time zone preference:' %>
          <%= p.time_zone_select :time_zone,
            ActiveSupport::TimeZone.us_zones, :default => @current_user.time_zone %>
        </div>
      </fieldset>
      
      <fieldset>
        <legend>Show unread posts</legend>
        <div class="user_check_block">
          <%= p.check_box :unread_in_test, :checked => @current_user.unread_in_test? %>
          <%= p.label :unread_in_test, 'in csh.test' %><br>
          <%= p.check_box :unread_in_control, :checked => @current_user.unread_in_control? %>
          <%= p.label :unread_in_control, 'in control groups (e.g. control.cancel)' %><br>
          <%= p.check_box :unread_in_lists, :checked => @current_user.unread_in_lists? %>
          <%= p.label :unread_in_lists, 'in mailing list groups (e.g. csh.lists.alumni)' %>
        </div>
        <div class="form_element">
          <div class="user_radio_block">
            <%= p.radio_button :unread_level, 0, :checked => @current_user.unread_level == 0 %>
            <%= p.label :unread_level, 'Always', :value => 0 %><br>
            <%= p.radio_button :unread_level, 1, :checked => @current_user.unread_level == 1 %>
            <%= p.label :unread_level, 'Only in threads I\'ve posted in', :value => 1 %><br>
            <%= p.radio_button :unread_level, 2, :checked => @current_user.unread_level == 2 %>
            <%= p.label :unread_level, 'Only direct replies to my posts', :value => 2 %><br>
            <%= p.radio_button :unread_level, 3, :checked => @current_user.unread_level == 3 %>
            <%= p.label :unread_level, 'Never', :value => 3 %>
          </div>
        </div>
      </fieldset>
      
      <fieldset>
        <legend>WebNews API</legend>
        <div id="api_settings">
          <%= render 'api_settings' %>
        </div>
      </fieldset>
    <% end %>
    
    <div class="buttons">
      <%= f.submit 'Save', :class => 'button green' %>
      <a href="#" class="button red dialog_cancel change_theme"
        data-path="<%= asset_path(current_user_stylesheet) %>">Cancel</a>
    </div>
  <% end %>
  
  <div class="loading"></div>
  <div class="errors"></div>
</div>
