<%
parent = thread[:parent]
unread = thread[:unread]
authors = unread ? thread[:unread_authors] : thread[:authors]
%>
<tr<% if mode == :sticky %> class="sticky"<% end %>>
  <td class="date">
    <%= thread[:date].in_time_zone(@current_user.time_zone).strftime(SHORT_DATE_FORMAT) %>
  </td>
  <td class="thread">
    <div class="subject">
      <a class="<%= thread[:personal_class] %><%= unread ? ' unread' : '' %>"
        href="#!<%= post_path(parent.newsgroup.name, parent.number) %>"><%= parent.subject %></a>
    </div>
    <div class="details">
      <% if thread[:posts] == 1 and thread[:parent] == thread[:oldest] %>
        Posted
      <% else %>
        <% if unread %>
          <a href="#!<%= post_path(thread[:oldest_unread].newsgroup.name, thread[:oldest_unread].number) %>">
            <%= pluralize(thread[:unread_posts], 'unread post') %>
          </a>
        <% elsif mode == :recent %>
          <%= pluralize(thread[:posts], 'recent post') %>
        <% else %>
          <%= pluralize(thread[:posts], 'post') %>
        <% end %>
      <% end %>
      
      by <%= authors.first %>
      <% if authors.size > 1 %>
        and
        <% if authors.size == 2 %>
          <%= authors.last %>
        <% else %>
          <%= pluralize(authors.size - 1, 'other') %>
        <% end %>
      <% end %>
      
      in
      <% if parent.is_crossposted?(true) %>
        multiple newsgroups
      <% else %>
        <a href="#!<%= posts_path(parent.newsgroup.name) %>"><%= parent.newsgroup.name %></a>
      <% end %>
    </div>
  </td>
</tr>
