<%
linked_post = if unread_count > 0
  next_unread
elsif thread_parent.sticky?
  thread_parent
else
  newest_post
end
%>

<tr<% if thread_parent.sticky? %> class="sticky"<% end %>>
  <td>
    <%= newest_post.date.strftime(SHORT_DATE_FORMAT) %>
  </td>
  <td class="newsgroup">
    <% if cross_posted %>
      (multiple)
    <% else %>
      <%= abbrev_newsgroup_html(thread_parent.primary_newsgroup.name) %>
    <% end %>
  </td>
  <td>
    <%= truncate(maybe_you(newest_post.author_name, true)) %>
    <% if newest_post == thread_parent %>
      posted
    <% else %>
      replied in
    <% end %>
  </td>
  <td class="post_count">
    <% if post_count > 1 %>
      <span class="counter"><%= post_count %></span>
    <% end %>
  </td>
  <td class="unread_count">
    <% if post_count > 1 && unread_count > 0 %>
      <span class="counter unread <%= unread_class %>"><%= unread_count %></span>
    <% end %>
  </td>
  <td class="subject">
    <a class="<%= unread_count > 0 ? "unread #{unread_class}" : personal_class %>"
      data-personal-class="<%= personal_class %>"
      href="#!<%= post_path(linked_post.primary_newsgroup.name, linked_post.primary_posting.number) %>"><%= thread_parent.subject %></a>
    <span class="byline">
      <% if newest_post != thread_parent %>
        by <%= truncate(maybe_you(thread_parent.author_name)) %>
      <% end %>
    </span>
  </td>
  <td class="mark_read">
    <% if unread_count > 0 %>
      <a href="#" class="smallbutton mark_read" data-scope="thread"
        data-newsgroup="<%= thread_parent.primary_newsgroup.name %>"
        data-number="<%= thread_parent.primary_posting.number %>">Mark Read</a>
    <% end %>
  </td>
</tr>
