<% parent = thread[:parent] %>
<tr>
  <td class="date">
    <%= thread[:date].in_time_zone(@current_user.time_zone).strftime(SHORT_DATE_FORMAT) %>
  </td>
  <td class="thread">
    <div class="subject">
      <a class="<%= unread ?
          parent.thread_unread_class_for_user(@current_user) :
          parent.personal_class_for_user(@current_user)
        %><%= unread ? ' unread' : '' %>"
        href="#!<%= post_path(parent.newsgroup.name, parent.number) %>"><%= parent.subject %></a>
    </div>
    <div class="details">
      <% if thread[:posts] == 1 and thread[:parent] == thread[:oldest] %>
        Thread started
      <% else %>
        <% if unread %>
          <a href="#!<%= post_path(thread[:oldest].newsgroup.name, thread[:oldest].number) %>">
            <%= pluralize(thread[:posts], 'unread post') %>
          </a>
        <% else %>
          <%= pluralize(thread[:posts], 'recent post') %>
        <% end %>
      <% end %>
      
      by <%= thread[:authors].first %>
      <% if thread[:authors].size > 1 %>
        and
        <% if thread[:authors].size == 2 %>
          <%= thread[:authors].last %>
        <% else %>
          <%= pluralize(thread[:authors].size - 1, 'other') %>
        <% end %>
      <% end %>
      
      in
      <% if parent.is_crossposted?(true) %>
        multiple newsgroups
      <% else %>
        <a href="#!<%= posts_path(parent.newsgroup.name) %>"><%= parent.newsgroup.name %></a>
      <% end %>
    </div>
  </td>
</tr>
