<% linked_post = (unread_count > 0) ? next_unread : newest_post %>

<tr<% if thread_parent.is_sticky? %> class="sticky"<% end %>>
  <td>
    <%= newest_post.date.strftime(SHORT_DATE_FORMAT) %>
  </td>
  <td>
    <%= maybe_you(newest_post.author_name, true) %>
    <% if newest_post == thread_parent %>
      posted
    <% else %>
      replied in
    <% end %>
  </td>
  <td class="post_count">
    <span class="counter"><%= post_count %></span>
  </td>
  <td class="unread_count">
    <% if unread_count > 0 %>
      <span class="counter unread <%= personal_class %>"><%= unread_count %></span>
    <% end %>
  </td>
  <td class="subject">
    <a class="<%= personal_class %><%= unread_count > 0 ? ' unread' : '' %>"
      href="#!<%= post_path(linked_post.newsgroup.name, linked_post.number) %>"><%= thread_parent.subject %></a>
    <span class="byline">
      <% if newest_post != thread_parent %>
        by <%= maybe_you(thread_parent.author_name) %>
      <% end %>
      in
      <% if cross_posted %>
        multiple newsgroups
      <% else %>
        <%= thread_parent.newsgroup.name %>
      <% end %>
    </span>
  </td>
</tr>
