<div id="toolbar">
  <div class="user_info">
    <%= gravatar_image @current_user.email, 28 %>
    <a title="Show all my posts" href="#!<%=
      search_path(authors: [@current_user.real_name, "<#{@current_user.email}>"].join(','))
    %>">
      <span class="real_name"><%= @current_user.real_name %></span>
      <span class="username">(<%= @current_user.username %>)</span>
    </a>
    <% if @current_user.admin? %><span class="role_badge">Admin</span><% end %>
    <span class="buttons">
      <a id="settings_button" class="button" title="Settings" href="#?<%= edit_user_path %>"><%= icon('cog') %></a>
      <a id="about_button" class="button blue" title="About WebNews" href="#?/about"><%= icon('question') %></a>
      <a class="button red" title="Project Status" href="#?/status"><%= icon('exclamation-triangle') %></a>
    </span>
  </div>
  <div class="buttons">
    <h1><a href="#!/home">WebNews</a></h1>
    <a id="home_button" class="button" href="#!/home"><%= icon('home') %></a>
    <a id="search_button" class="button" href="#?<%= search_entry_path %>"><%= icon('search') %> Search</a>
    <a id="starred_button" class="button" href="#!<%= search_path(starred: true) %>"><%= icon('star') %> Starred</a>
    <a id="next_unread" class="button" href="<%= next_unread_href %>"><%= icon('arrow-right') %> Next Unread</a>
    <a id="mark_all_read_button" class="button mark_read" data-scope="all" href="#"
      data-confirm="Really mark all posts read?"><%= icon('check') %> Read All</a>
    <a class="button yellow resume_draft" href="#"><%= icon('chevron-down') %> Resume Draft</a>
  </div>
</div>

<div id="groups_list">
  <h2>Newsgroups</h2>
  <%= render 'shared/sync_warning' if @sync_warning %>
  <nav>
    <%= render 'newsgroups/index' %>
  </nav>
</div>

<div id="group_view">
  <%= render 'dashboard' %>
  <% if @new_user %><div id="startup_msg" data-action="new_user"></div><% end %>
  <% if @old_user %><div id="startup_msg" data-action="old_user"></div><% end %>
</div>

<div id="post_view">
</div>

<div id="loader" class="hidden">
  <%= render 'shared/overlay' %>
  <%= render 'shared/ajax_error' %>
</div>

<div id="external_links">
  <%= render 'external_links' %>
</div>
