<% @posts.sort_by(&:created_at).group_by(&:newsgroup).each do |newsgroup, newsgroup_posts| %>
  <h2><%= newsgroup.name %></h2>
  <% newsgroup_posts.group_by(&:root).each do |root, thread_posts| %>
    <ul style="list-style-type: none; margin-left: 0; padding-left: 0">
      <li>
        <% root_alone = (thread_posts.count == 1 and thread_posts.first == root) %>
        <% new_thread = root_alone || thread_posts.include?(root) %>

        <b>
          <% if new_thread %>
            <% if root_alone %>
              (new thread)
            <% else %>
              (new thread + <%= pluralize(thread_posts.count - 1, 'reply') %>)
            <% end %>
          <% else %>
            (<%= pluralize(thread_posts.count, 'new reply') %>)
          <% end %>
        </b>

        [<%= root.created_at.strftime(SHORT_DATE_FORMAT) %>]
        <%= root.author_name %>:
        <% if new_thread %><b><% end %>
          <%= link_to root.subject, post_hash_url(root) %>
        <% if new_thread %></b><% end %>

        <% if !root_alone %>
          <ul style="list-style-type: none; margin-left: 0; padding-left: 0">
            <% (thread_posts - [root]).each do |post| %>
              <li>
                [<%= post.created_at.strftime(SHORT_DATE_FORMAT) %>]
                <%= post.author_name %>:
                <%= link_to truncate(post.first_line, length: 80), post_hash_url(post) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    </ul>
  <% end %>
<% end %>
