<div id="dialog">
  <h2><%= icon('exclamation-triangle') %> Cancel this post?</h2>
  <%= form_for @post,
      url: destroy_post_path(@post.primary_newsgroup.name, @post.primary_posting.number),
      html: { method: 'delete'}, remote: true do |f| %>

    <%= hidden_field_tag :confirm_cancel, 'y' %>

    <p>Canceling this post will remove it from WebNews and the news server.</p>

    <p><b>However,</b> the post may remain cached elsewhere in the form of email notifications, mailing list messages, or copies downloaded by other news clients. Canceling it will not prevent users from reading or replying to these copies.</p>

    <p>Canceling will create a corresponding message in the <i>control.cancel</i> newsgroup, containing some information about the canceled post (author, date, subject line) and anything you enter in the <b>reason for canceling</b> box below.</p>

    <div class="form_element">
      <%= text_field_tag :reason, nil, placeholder: 'Reason for canceling (optional)' %>
    </div>

    <% if @admin_cancel %>
    <p class="bigexplain"><span class="role_badge">Admin</span> Your admin privileges allow you to cancel this post even though you are not the author.</p>
    <% end %>

    <div class="buttons">
      <button name="commit" type="submit" class="button red"><%= icon('trash-o') %> Cancel this post</button>
      <a href="#" class="button dialog_cancel"><%= icon('times') %> Never mind</a>
    </div>
  <% end %>

  <div class="loading"></div>
  <div class="errors"></div>
</div>
