<div id="dialog">
  <h2><%= icon('thumb-tack') %> Sticky thread</h2>

  <%= form_for @post,
      url: update_post_sticky_path(newsgroup_name: @post.primary_newsgroup.name, number: @post.primary_posting.number),
      html: { method: 'put'}, remote: true do |f| %>

    <%= render partial: 'sticky_fields', locals: { post: @post } %>

    <div class="buttons">
      <button type="submit" class="button green"><%= icon('check') %> Save</button>
      <a href="#" class="button red dialog_cancel"><%= icon('times') %> Cancel</a>
    </div>
  <% end %>

  <div class="loading"></div>
  <div class="errors"></div>
</div>
