<div class="buttons">
  <% if @search_mode %>
    <% if not @starred_only %>
      <span class="explain">Searching <%= @newsgroup ? @newsgroup.name : 'all newsgroups' %></span>
    <% end %>
    <a id="revise_search_button" class="button" href="#?<%= search_entry_path %>?<%=
      request.fullpath.split('?')[1] %>"><%= icon('search') %> <%= @starred_only ? 'Search' : 'Revise Search' %></a>
    <% if @starred_only %><a class="button refresh" title="Refresh" href="#"><%= icon('refresh') %></a><% end %>
    <a id="rss_feed_button" class="button" title="Get an RSS feed of this search" href="<%=
      if @current_user.api_enabled?
        '#?/rss_caution?dest=' + u(search_path({
          :format => :rss, :api_key => @current_user.api_key, :api_agent => 'WebNews Search Feed'
        }.merge(@search_params)))
      else
        '#'
      end
    %>" <% if not @current_user.api_enabled? %>
      onclick="alert('This feature requires API access to be enabled in the Settings dialog.'); return false;"
    <% end %>><%= icon('rss') %></a>
  <% else %>
    <a class="refresh new_posts" href="#!<%= posts_path(@newsgroup.name) %>"></a>
    <% if @newsgroup.posting_allowed? %>
      <a class="button new_draft" href="#?<%= new_post_path(:newsgroup => @newsgroup.name) %>"><%= icon('file') %> Post</a>
    <% else %>
      <span class="explain">This newsgroup is read-only.</span>
    <% end %>
    <a id="newsgroup_search_button" class="button"
      href="#?<%= search_entry_path(:newsgroup => @newsgroup.name) %>"><%= icon('search') %> Search</a>
    <a id="mark_thread_read_button" class="button mark_read" data-scope="thread" href="#"><%= icon('check') %> Read Thread</a>
    <a id="mark_group_read_button" class="button mark_read" data-scope="newsgroup" href="#"><%= icon('check') %> Read All</a>
  <% end %>
</div>
<div id="group_header">
  <h2><%= @search_mode ? (@starred_only ? 'Starred Posts' : 'Search Results') : @newsgroup.name %></h2>
</div>
<div id="posts_list" tabindex="-1">
  <table>
    <thead>
      <tr id="posts_list_headers">
        <% cols = 3 %>
        <th>Subject</th>
        <% if @search_mode and not @newsgroup %><% cols = 4 %><th>Newsgroup</th><% end %>
        <th>Author</th>
        <th>Date</th>
      </tr>
      <% if @more_newer %>
        <tr id="posts_load_newer" style="margin-top: -1px">
          <th colspan="<%= cols %>" class="loading">Loading newer posts...</th>
        </tr>
      <% end %>
    </thead>
    <tbody>
      <%= yield %>
    </tbody>
    <tfoot>
      <% if @more_older %>
        <tr id="posts_load_older">
          <th colspan="<%= cols %>" class="loading">Loading older posts...</th>
        </tr>
      <% end %>
    </tfoot>
  </table>
</div>
