<%
expanded ||= false
unread ||= post.unread_for_user?(@current_user)
tr_class ||= post.personal_class_for_user(@current_user) if not skip_class
newsgroup_name = @newsgroup ? @newsgroup.name : post.newsgroup.name
%>

<tr class="<%= (post.is_sticky? ? 'sticky ' : '') + (unread ? 'unread ' : '') + tr_class.to_s %>"
  data-id="<%= post.id %>"
  data-number="<%= post.number %>"
  data-level="<%= level %>"
  data-date="<%= post.date %>"
  data-parent="<%= post.parent_id == '' ? 'false' : 'true' %>">
  <td>
    <% (level - 1).times do %><div class="indent"><% end %>
    <span class="expander<%= expanded ? ' expanded' : '' %>">&nbsp;</span>
    <a href="#<%= @search_mode ? '~' : '!' %><%= post_path(newsgroup_name, post.number) %><%= @search_mode ? '?search_mode=true' : '' %>"><%= @search_mode || @current_user.thread_mode != :normal ? post.subject : post.first_line %></a>
    <% (level - 1).times do %></div><% end %>
  </td>
  <% if @search_mode and not @newsgroup %><td><%= newsgroup_name %></td><% end %>
  <td><%= post.author_name %></td>
  <td><%= post.date.in_time_zone(@current_user.time_zone).strftime(DATE_FORMAT) %></td>
</tr>
